.pageContainer {
  max-width: 90%;

  margin: auto;
  .borderContainer {
    border-bottom: 1px solid var(--grey-2);
    width: 100%;
    position: absolute;
    left: 0;
  }
}
.sectionContainer {
  color: white;
  .divUserContainer {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      color: var(--grey-0);
      font-size: var(--title1);
      font-weight: 700;
    }

    p {
      color: var(--grey-1);
      font-size: var(--headline);
    }
  }
  .messageContainer {
    margin: 15px;

    display: flex;
    gap: 20px;
    flex-direction: column;

    h2 {
      color: var(--grey-0);
      font-size: var(--title1);
      font-weight: 700;
    }

    p {
      color: var(--grey-1);
      font-size: var(--headline);
    }
  }
}
@media (min-width: 1020px) {
  .pageContainer {
    max-width: 80%;
    margin: auto;
    .borderContainer {
      border-bottom: 1px solid var(--grey-2);
      width: 100%;
      position: absolute;
      left: 0;
    }
    .sectionContainer {
      .divUserContainer {
        padding: 20px 0px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
      }
    }
  }
}
