.pageContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;

  main {
    .registerInput {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: 380px) {
  .pageContainer {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: auto;
    header {
      display: flex;
      justify-content: space-between;
      gap: 162px;
      margin-bottom: 15px;
      width: 100%;
    }
  }
}
