.headerContainer {
  display: flex;
  margin: 15px 0px 15px 0px;
  justify-content: center;
}
.logoContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.headerWithoutButtons {
  .logoContainer {
    max-width: 100%;
    justify-content: center;
  }
}

@media (min-width: 700px) {
  .logoContainer {
    max-width: 100%;
  }
}
